

h1 {
	color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 62px; margin: 0 0 24px; 
}

h2 {
	color: #ffffff; font-family: 'Raleway',sans-serif; font-size: 30px; font-weight: 800; line-height: 36px; margin: 0 0 24px;  
}

body {
	background-color: #1B6DBC;
}


button { 
	border-radius: 2px;
	padding: 25px;
	text-align: center;
	    font-size: 16px;
	    font-family: 'Raleway',sans-serif;
	    font-size: 30px;
	    font-weight: 800;
	    margin: 25 25 25 25 ;

 }
 input {
 	border-radius: 2px;
	padding: 25px;
	margin: 25 25 25 25;
	text-align: center;
	    font-size: 16px;
	    font-size: 16px;
	    font-family: 'Raleway',sans-serif;
	    font-size: 30px;
	    font-weight: 800;


 }
#left-align {
		background-color: #EF4453;
		color: white;

}
#left-align-ways {
	background-color: #EF4453;
		color: white;
		padding-right: 35px;
}
#left-align-way {
	padding-right: 33px;
}
#container
{ background-color:  grey;
	width: 22%;
	text-align: right;
	align-items: right;
	padding-top: 25px;
	padding-bottom: 10px;
}

